<br>
<table id="song_search">
		<th>ID</th>
		<th>Song Name</th>
		<th>Artist</th>
		<th>Duration</th>
	
	<tr>
		<td class="id"><%= @save_song[:id] %><br></td>
		<td class="name"><%= @save_song[:name] %><br></td>
		<td class="artist"><%= @save_song[:artist] %><br></td>
		<td class="duration"><%= @save_song[:duration] %><br></td>
	</tr>
</table><br>

<audio autoplay="autoplay" controls="controls" loop='true'>  <source src=<%= @save_song[:url] %> />    
</audio> 

