<br>
<table id="song_search">
		<th>ID</th>
		<th>Song Name</th>
		<th>Artist</th>
		<th>Duration</th>
	
	<tr>
		<td class="id"><%= @song.id %><br></td>
		<td class="name"><%= @song.name %><br></td>
		<td class="artist"><%= @song.artist %><br></td>
		<td class="duration"><%= @song.duration %><br></td>
	</tr>
</table><br>

<audio autoplay="autoplay" controls="controls">  <source src=<%= @url %> />    
</audio> 

